<ion-content fullscreen class="no-scroll">
  <div class="splash-wrapper">

    <!-- Background Image -->
    <img src="assets/images/scc.png" alt="Golfnex Background" class="splash-background" />

    <!-- GOLFNEX Title -->
    <div class="golfnex-title">GolfNex</div>

    <!-- Golf Animation -->
    <div class="golf-course">
      <div class="golf-ball"></div>
      <div class="hole"></div>
    </div>

    <!-- Get Started Button -->
    <div class="button-wrapper">
      <ion-button
        routerLink="/auth/login"
        expand="block"
        size="large"
        shape="round"
        class="get-started-button"
      >
        Get Started
      </ion-button>
    </div>
  </div>
</ion-content>
